<template name="HomeLayout">
    {{>MainNav}}

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-8 text-center">
                <h1>Cerebrum Emr</h1>
                <p class="lead">Cloud based service to help you manage your patients!!</p>
            </div>
            <div class="col-lg-4 ">
                {{#if $not currentUser}} {{> LoginModal}}
                 {{else}}
                 <ul>
                <li><a href="/mySchedule"><i class="fa fa-list"></i>Schedule</a></li>

                <li><a href="/invoices"><i class="fa fa-list"></i>Invoices</a></li>

                <li><a href="/analytics"><i class="fa fa-list"></i>Analytics</a></li>

                <li><a href="/labTasks"><i class="fa fa-list"></i>Lab Tests</a></li>

                <li><a href="/admin"><i class="fa fa-list"></i>Admin</a></li>
                 </ul>
                {{/if}}

            </div>
            <div>

            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->


</template>