<template name="MainNav">

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Neuron</a>
			</div>
			{{#if currentUser}}
			<ul class="nav navbar-nav">
			<li ><a href="/patients"><i class="fa fa-list"></i>Patients</a></li>
			<li><a href="/admissions"><i class="fa fa-map-o"></i>Admissions</a></li>
			<li><a href="/mytodos"><i class="fa fa-shopping-cart"></i>Tasks<span class="label 
				{{#if myTodoCount }} label-danger {{/if}}">{{myTodoCount}}</span> </a></li>
			{{#if isInRole 'nurse'}}
			<li><a href="/mySchedule"><i class="fa fa-list"></i>Schedule</a></li>
			{{/if}} {{#if isInRole 'clerk'}}
			<li><a href="/invoices"><i class="fa fa-list"></i>Invoices</a></li>
			{{/if}} {{#if isInRole 'manager'}}
			<li><a href="/analytics"><i class="fa fa-list"></i>Analytics</a></li>
			{{/if}} {{#if isInRole 'labTech'}}
			<li><a href="/labTasks"><i class="fa fa-list"></i>Lab Tests</a></li>
			{{/if}} {{#if isInRole 'admin'}}
			<li><a href="/admin"><i class="fa fa-list"></i>Admin</a></li>
			{{/if}}
			</ul>
			{{/if}}
			<ul class="nav navbar-nav navbar-right">
			{{#if currentUser}}
				<li><a href="#" class="logout">
				<i class="fa fa-user"></i>Logout {{user}}</a></li>
			{{else}}
			<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span>Login/Sign-up </a></li>
			{{/if}}
			</ul>
			
		</div>
	</nav>


	<!--<div class="collapse navbar-collapse">

		<ul class="nav navbar-nav">
			{{#if currentUser}}
			<li><a href="/patients"><i class="fa fa-list"></i>Patients</a></li>
			<li><a href="/admissions"><i class="fa fa-map-o"></i>Admissions</a></li>
			<li><a href="/mytodos"><i class="fa fa-shopping-cart"></i>My Tasks<span class="label 
				{{#if myTodoCount }} label-danger {{/if}}">{{myTodoCount}}</span> </a></li>
			{{#if isInRole 'nurse'}}
			<li><a href="/mySchedule"><i class="fa fa-list"></i>Schedule</a></li>
			{{/if}} {{#if isInRole 'clerk'}}
			<li><a href="/invoices"><i class="fa fa-list"></i>Invoices</a></li>
			{{/if}} {{#if isInRole 'manager'}}
			<li><a href="/analytics"><i class="fa fa-list"></i>Analytics</a></li>
			{{/if}} {{#if isInRole 'labTech'}}
			<li><a href="/labTasks"><i class="fa fa-list"></i>Lab Tests</a></li>
			{{/if}} {{#if isInRole 'admin'}}
			<li><a href="/admin"><i class="fa fa-list"></i>Admin</a></li>
			{{/if}}

			<li><a href="#" class="logout"><i class="fa fa-pencil"></i>Logout {{user}}</a></li>
			{{else}}
			<li><a href="/login">Login/Sign-up </a></li>
			{{/if}}
		</ul>
	</div>-->


</template>